absl-py==2.0.0
annotated-types==0.6.0
ansi2html==1.8.0
anyio==4.0.0
apispec==6.3.0
appnope==0.1.3
astroid==2.15.6
asttokens==2.4.1
astunparse==1.6.3
attrs==23.1.0
autopep8==2.0.2
Babel==2.14.0
beautifulsoup4==4.12.2
bidict==0.22.1
biopython==1.81
blinker==1.6.2
boto3==1.26.138
botocore==1.29.138
Brotli==1.1.0
build==1.0.3
CacheControl==0.13.1
cachelib==0.9.0
cachetools==5.3.1
cattrs==23.1.2
certifi==2023.7.22
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.2.0
cleo==2.1.0
click==8.1.7
colorama==0.4.6
colour==0.1.5
comm==0.2.0
contourpy==1.1.1
crashtest==0.4.1
cryptography==41.0.5
cycler==0.11.0
Cython==3.0.6
dash==2.14.2
dash-bio==1.0.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.8.0
decorator==4.4.2
-e git+https://github.com/serengil/deepface.git@99f5295638038cf554149edad450e4141583c807#egg=deepface
Deprecated==1.2.14
dill==0.3.7
distlib==0.3.8
distro==1.9.0
dlib==19.24.2
dm-tree==0.1.8
dulwich==0.21.7
easyocr==1.7.1
ephem==4.1.4
exceptiongroup==1.1.3
executing==2.0.1
face-recognition==1.3.0
face-recognition-models==0.3.0
fastjsonschema==2.19.1
filelock==3.12.4
fire==0.5.0
firebase-admin==6.2.0
Flask==2.3.3
Flask-Caching==2.1.0
Flask-Compress==1.14
Flask-Cors==3.0.10
Flask-HTTPAuth==4.8.0
Flask-Limiter==3.5.1
flask-smorest==0.41.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
flatbuffers==23.5.26
fonttools==4.42.1
fsspec==2023.5.0
gast==0.4.0
gdown==4.7.1
gensim==4.3.1
GEOparse==2.0.3
ghp-import==2.1.0
gin-config==0.1.1
gitdb==4.0.10
GitPython==3.1.37
google-api-core==2.11.0
google-api-python-client==2.102.0
google-auth==2.23.2
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.2
google-cloud-firestore==2.13.0
google-cloud-storage==2.12.0
google-cloud-vision==3.4.1
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.6.0
googleapis-common-protos==1.59.0
greenlet==2.0.2
grpcio==1.59.0
grpcio-status==1.53.0
gunicorn==21.2.0
h11==0.14.0
h5py==3.9.0
httpcore==0.18.0
httplib2==0.22.0
httpx==0.25.0
huggingface-hub==0.14.1
idna==3.4
imageio==2.31.3
imageio-ffmpeg==0.4.9
importlib-metadata==6.8.0
importlib-resources==6.1.0
imutils==0.5.4
iniconfig==2.0.0
installer==0.7.0
ipykernel==6.26.0
ipython==8.17.2
isort==5.12.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter_client==8.6.0
jupyter_core==5.5.0
keras==2.13.1
keras-core==0.1.5
keyring==24.3.0
kiwisolver==1.4.5
kmodes==0.12.2
lazy-object-proxy==1.9.0
lazy_loader==0.3
libclang==16.0.6
librouteros==3.2.1
limits==3.9.0
lxml==4.9.3
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.19.0
matplotlib==3.8.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.10.3
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-material==9.5.10
mkdocs-material-extensions==1.3.1
ml-dtypes==0.2.0
mlxtend==0.22.0
more-itertools==10.2.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.7
mtcnn==0.1.1
namex==0.0.7
nest-asyncio==1.5.8
networkx==3.1
ninja==1.11.1
nltk==3.8.1
numpy==1.24.3
oauthlib==3.2.2
openai==1.13.3
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
opencv-python-headless==4.8.0.76
opt-einsum==3.3.0
orbit==0.2
ordered-set==4.1.0
outcome==1.2.0
packaging==23.1
paginate==0.5.6
paho-mqtt==1.6.1
pandas==2.1.1
ParmEd==4.2.2
parso==0.8.3
pathspec==0.12.1
patsy==0.5.3
pdfkit==1.0.0
periodictable==1.6.1
pexpect==4.8.0
Pillow==10.0.1
pkginfo==1.9.6
platformdirs==3.10.0
playwright==1.38.0
plotly==5.18.0
pluggy==1.4.0
pmdarima==2.0.4
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
proglog==0.1.10
prompt-toolkit==3.0.41
proto-plus==1.22.2
protobuf==4.24.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybboxes==0.1.6
pyclipper==1.3.0.post5
pycodestyle==2.10.0
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pyee==9.0.4
pyephem==9.99
Pygments==2.17.2
pygooglenews==0.1.2
PyJWT==2.8.0
pylint==2.17.5
pymdown-extensions==10.7
pyparsing==3.1.1
PyPDF2==3.0.1
pypng==0.20220715.0
pyproject_hooks==1.0.0
PySocks==1.7.1
pyTelegramBotAPI==4.14.0
pytest==8.0.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.8.0
python-socketio==5.10.0
python-telegram-bot==20.6
pytrends==4.9.2
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
pyyaml_env_tag==0.1
pyzmq==25.1.1
qrcode==7.4.2
rapidfuzz==3.6.1
referencing==0.32.0
regex==2023.5.5
requests==2.31.0
requests-cache==1.1.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
retina-face==0.0.13
retrying==1.3.4
rich==13.7.0
roboflow==1.0.9
rpds-py==0.13.2
rsa==4.9
s3transfer==0.6.1
sahi==0.11.14
schedule==1.2.1
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.11.2
seaborn==0.12.2
secure-smtplib==0.1.1
selenium==4.12.0
sentry-sdk==1.31.0
shapely==2.0.1
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
smart-open==6.3.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soupsieve==2.5
SpeechRecognition==3.10.0
SQLAlchemy==2.0.23
sseclient==0.0.27
stack-data==0.6.3
statsmodels==0.14.0
sympy==1.12
telebot==0.0.5
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.13.0
termcolor==2.3.0
terminaltables==3.1.10
tf-slim==1.1.0
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tifffile==2023.9.18
TikTokApi==6.1.1
tomli==2.0.1
tomlkit==0.12.1
torch==2.0.1
torchaudio==2.0.1
torchvision==0.15.2
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
trio==0.22.2
trio-websocket==0.10.4
trove-classifiers==2024.1.8
typing_extensions==4.10.0
tzdata==2023.3
ultralytics==8.0.183
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==2.0.5
virtualenv==20.25.0
watchdog==4.0.0
wcwidth==0.2.10
webargs==8.2.0
Werkzeug==2.3.7
wget==3.2
wrapt==1.14.1
wsproto==1.2.0
xattr==0.10.1
yolov5==7.0.12
zipp==3.16.2
